.bottom_section{
    width: 108vw;
    height: 54.6vw;
    transform: translateX(-19.37vw);
    background-image: url(../../images/illustration-laptop-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    position: relative;
    font-family: 'Overpass', sans-serif;
    margin-bottom: 123px;

    @include breakpoint-down(medium){
        width: auto;
        height: auto;
        margin-left: 11.45vw;
        margin-right: 11.45vw;
        transform: translateX(0px);
        background: none;
        margin-bottom: 100px;
    }
    .text{
        position: absolute;
        width: 37.5vw;
        height: 28.9vw;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        &::before{
            @include breakpoint-down(medium){
                content: "";
                width: 77vw;
                height: 77vw;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                background-image: url(../../images/illustration-laptop-mobile.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
        @include breakpoint-down(medium){
            position: relative;
            transform: translateY(0px);
            width: 100%;
            top: 0;
            right: 0;
            height: auto;
            text-align: center;
        }
        h3{
            font-size: 28px;
            line-height: 28px;
            margin-bottom: 16px;
        }
        p{
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 64px;
        }
    }
    
}