//## Colors

//### Primary
$LightRedCTA: hsl(356, 100%, 66%);
$VeryLightRedCTA : hsl(355, 100%, 74%);
$VeryDarkBlueHeading: hsl(208, 49%, 24%);

//### Neutral

$WhiteText: hsl(0, 0%, 100%);
$GrayishBlueFooter: hsl(240, 2%, 79%);
$VeryDarkGrayishBlueBody: hsl(207, 13%, 34%);
$VeryDarkBlackBlueFooter: hsl(240, 10%, 16%);

//### Gradient

//Background gradient - Intro/CTA mobile nav:

$VeryLightRed: hsl(13, 100%, 72%);
$LightRed: hsl(353, 100%, 62%);

//Background gradient - body:

$VeryDarkGrayBlue: hsl(237, 17%, 21%);
$VeryDarkDesaturatedBlue: hsl(237, 23%, 32%);