@import "variables";
@import "mixin";
@import "header";
@import "_top_section";
@import "center_section";

html{
    box-sizing: border-box;
    font-size: 100%;
}
*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    font-family: 'Overpass', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

//helperClass to hide/show element

.hideForMobile{
    @include breakpoint-down(medium){
        display: none;
    }
}

.hideForDesktop{
    @include breakpoint-up(large){
        display: none;
    }
}